<div class="container my-5">

  <h2>Person Search</h2>
    
  <div class="form-group">
    <label for="organizationId">Organization ID</label>
    <input type="text" class="form-control" id="organizationId" [(ngModel)]="organizationId" required="true">
  </div>
  <div class="form-group">
    <label for="externalPersonId">External Person ID</label>
    <input type="text" class="form-control" id="externalPersonId" [(ngModel)]="externalPersonId">
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName">
  </div>
  <div class="form-group">
    <label for="personEmail">Email Address</label>
    <input type="email" class="form-control" id="personEmail" [(ngModel)]="personEmail">
  </div>
  <div class="form-group">
    <label for="personPhone">Phone Number</label>
    <input type="text" class="form-control" id="personPhone" [(ngModel)]="personPhone">
  </div>
  
  <button class="btn btn-primary" (click)="searchPeople(organizationId, externalPersonId, firstName, lastName, personEmail, personPhone)">Submit</button>

  <app-people-table [people]="people"></app-people-table>
</div>